<!DOCTYPE html>
<html>
    <head>
        <title>Sandtrails</title>
        <link rel="stylesheet" href="/static/base.css" />
        <link rel="stylesheet" href="/static/buttons.css" />
        <link rel="stylesheet" href="/static/forms.css" />
        <style>
            body {background-color: #a3a3c2; padding: 5px}
            h1 {color: white;}
        </style>
    </head>
    <body>
        <h1>Sandtrails</h1>
        <div>
            <form method="POST" action="/" novalidate class="pure-form" style="display: inline;">
                {{ form.hidden_tag() }}
                {{ form.track() }}
                {{ form.submit(class="pure-button pure-button-primary") }}
            </form>
            <a class="pure-button button-secondary" href="/stop">Stop</a><br />
        </div>
        <p><a class="pure-button button-error" href="/shutdown">Shut down</a></p>
        
        <hr />
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        
    </body>
</html>
